

<section class="" >
            <div class="container px-lg-5 my-5" >
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img  class="card-img-top mb-5 mb-md-0" id="viewImage" [src]="product.image" alt="..." /></div>
                    <div class="col-md-6" id="description">
                        <div class="small mb-1">ID:{{product._id}}</div><!-----product._id for big id like 648c077b0fcd884a8063c3c0-->
                        <h1 class="display-5 fw-bolder">{{product.title}}</h1>
                        <div class="fs-5 mb-3">
                            <span class="text-decoration-line-through">$45.00</span>
                            <span>${{product.price}}</span>
                        </div>
                        <p class="lead" style="text-align:justify">{{product.description}}</p>
                        <div class="d-flex justify-content-between">
                            <!-- <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" /> -->
                            <button (click)="addToCart(product)" class="btn btn-outline-dark flex-shrink-0" type="button">
                                <!-- <i class="bi-cart-fill me-1"></i> -->
                                <i class="fa-solid fa-cart-plus text-success"></i>
                                <!-- <i class="fa-solid fa-cart-plus fa-beat text-success"></i> miss icon-->
                                Add to cart
                            </button>
                            <button (click)="addToWishlist()" class="btn btn-outline-dark flex-shrink-0" type="button">
                                <!-- <i class="bi-cart-fill me-1"></i> -->
                                <!-- <i class="fa-solid fa-heart me-1 fa-beat text-danger"></i> miss icon -->
                                <i class="fa-solid fa-heart"></i>
                                Add to Wishlist
                            </button>
                        </div><div [innerHTML]="addedToWishlist" id="addToWishlist"></div>
                        
                    </div>
                </div>
            </div>
        </section>