/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@700&family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
*{
    font-family: 'Roboto Mono', monospace;
}

.navbar{
  top: 0;
  z-index: 100;
  position: fixed;
}

